### Create Employee Dataframe

In [0]:
employee_data = [(10, "Srishti","Shetty", "1998", "100", "F", 8000),
                 (20, "Aish", "Rai", "2002", "200", "M", 2000),
                 (30, "Rishabh", "Alva", "2010", "100",None, 6000),
                 (40, "Aishanya",  "Bhandhary", "1996", "400", "F", 7000),
                 (50, "Pooja",  "Hegde", "2008", "500", "F", 5000),
                 (60, "Sunil", "Shetty", "1997", "400", "M", 3000),
                 (70, "Sumit", "Rai", "2010", "600", "M", 5000)
                 ]

employee_schema = ["employee_id", "first_name", "last_name", "doj", "dept_id", "gender","salary"]

emp_DF = spark.createDataFrame(data = employee_data, schema = employee_schema)
display(emp_DF)

employee_id,first_name,last_name,doj,dept_id,gender,salary
10,Srishti,Shetty,1998,100,F,8000
20,Aish,Rai,2002,200,M,2000
30,Rishabh,Alva,2010,100,null,6000
40,Aishanya,Bhandhary,1996,400,F,7000
50,Pooja,Hegde,2008,500,F,5000
60,Sunil,Shetty,1997,400,M,3000
70,Sumit,Rai,2010,600,M,5000

### Create Department Dataframe

In [0]:
department_data = [("HR", 100),
                   ("Supply", 200),
                   ("Sales", 300),
                   ("Stock", 400)]

department_schema = ["dept_name", "dept_id"]
dept_DF= spark.createDataFrame(department_data, department_schema)
display(dept_DF)

dept_name,dept_id
HR,100
Supply,200
Sales,300
Stock,400

### Inner Join

In [0]:
# df_join = emp_DF.join(dept_DF, "dept_id", "inner")  # alternate if key is same
df_join = emp_DF.join(dept_DF, emp_DF.dept_id==dept_DF.dept_id, "inner")
df_join.show()

+-----------+----------+---------+----+-------+------+------+---------+-------+
|employee_id|first_name|last_name| doj|dept_id|gender|salary|dept_name|dept_id|
+-----------+----------+---------+----+-------+------+------+---------+-------+
|         10|   Srishti|   Shetty|1998|    100|     F|  8000|       HR|    100|
|         30|   Rishabh|     Alva|2010|    100|  null|  6000|       HR|    100|
|         20|      Aish|      Rai|2002|    200|     M|  2000|   Supply|    200|
|         40|  Aishanya|Bhandhary|1996|    400|     F|  7000|    Stock|    400|
|         60|     Sunil|   Shetty|1997|    400|     M|  3000|    Stock|    400|
+-----------+----------+---------+----+-------+------+------+---------+-------+

### Full Outer Join

In [0]:

df_join = emp_DF.join(dept_DF, "dept_id", "full") # outer, full_outer, fullouter
df_join.show()

+-------+-----------+----------+---------+----+------+------+---------+
|dept_id|employee_id|first_name|last_name| doj|gender|salary|dept_name|
+-------+-----------+----------+---------+----+------+------+---------+
|    100|         10|   Srishti|   Shetty|1998|     F|  8000|       HR|
|    100|         30|   Rishabh|     Alva|2010|  null|  6000|       HR|
|    200|         20|      Aish|      Rai|2002|     M|  2000|   Supply|
|    300|       null|      null|     null|null|  null|  null|    Sales|
|    400|         40|  Aishanya|Bhandhary|1996|     F|  7000|    Stock|
|    400|         60|     Sunil|   Shetty|1997|     M|  3000|    Stock|
|    500|         50|     Pooja|    Hegde|2008|     F|  5000|     null|
|    600|         70|     Sumit|      Rai|2010|     M|  5000|     null|
+-------+-----------+----------+---------+----+------+------+---------+

### Left Outer Join/Left Join

In [0]:
df_join = emp_DF.join(dept_DF, "dept_id", "left") # left_outer, leftouter
df_join.show()

+-------+-----------+----------+---------+----+------+------+---------+
|dept_id|employee_id|first_name|last_name| doj|gender|salary|dept_name|
+-------+-----------+----------+---------+----+------+------+---------+
|    100|         10|   Srishti|   Shetty|1998|     F|  8000|       HR|
|    200|         20|      Aish|      Rai|2002|     M|  2000|   Supply|
|    100|         30|   Rishabh|     Alva|2010|  null|  6000|       HR|
|    400|         40|  Aishanya|Bhandhary|1996|     F|  7000|    Stock|
|    500|         50|     Pooja|    Hegde|2008|     F|  5000|     null|
|    400|         60|     Sunil|   Shetty|1997|     M|  3000|    Stock|
|    600|         70|     Sumit|      Rai|2010|     M|  5000|     null|
+-------+-----------+----------+---------+----+------+------+---------+

### Right Outer Join / Right Join

In [0]:
df_join = emp_DF.join(dept_DF, "dept_id", "right") # right_outer, rightouter
df_join.show()

+-------+-----------+----------+---------+----+------+------+---------+
|dept_id|employee_id|first_name|last_name| doj|gender|salary|dept_name|
+-------+-----------+----------+---------+----+------+------+---------+
|    100|         30|   Rishabh|     Alva|2010|  null|  6000|       HR|
|    100|         10|   Srishti|   Shetty|1998|     F|  8000|       HR|
|    200|         20|      Aish|      Rai|2002|     M|  2000|   Supply|
|    300|       null|      null|     null|null|  null|  null|    Sales|
|    400|         60|     Sunil|   Shetty|1997|     M|  3000|    Stock|
|    400|         40|  Aishanya|Bhandhary|1996|     F|  7000|    Stock|
+-------+-----------+----------+---------+----+------+------+---------+

### Left Semi Join

In [0]:
df_join = emp_DF.join(dept_DF, "dept_id", "semi") # left_semi, leftsemi
df_join.show()

+-------+-----------+----------+---------+----+------+------+
|dept_id|employee_id|first_name|last_name| doj|gender|salary|
+-------+-----------+----------+---------+----+------+------+
|    100|         10|   Srishti|   Shetty|1998|     F|  8000|
|    100|         30|   Rishabh|     Alva|2010|  null|  6000|
|    200|         20|      Aish|      Rai|2002|     M|  2000|
|    400|         40|  Aishanya|Bhandhary|1996|     F|  7000|
|    400|         60|     Sunil|   Shetty|1997|     M|  3000|
+-------+-----------+----------+---------+----+------+------+

### Left Anti Join

In [0]:
df_join = emp_DF.join(dept_DF, "dept_id", "anti") # left_anti, leftanti
df_join.show()

+-------+-----------+----------+---------+----+------+------+
|dept_id|employee_id|first_name|last_name| doj|gender|salary|
+-------+-----------+----------+---------+----+------+------+
|    500|         50|     Pooja|    Hegde|2008|     F|  5000|
|    600|         70|     Sumit|      Rai|2010|     M|  5000|
+-------+-----------+----------+---------+----+------+------+